<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contet="width=device-width, initial-scale=1.0">
    <title>Personalizar Sorvete</title>
    <link rel="stylesheet" href="../../css/personalizar.css">

    <!-- importando fonte titulo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <!-- toastify -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    
</head>
<body>
    <header></header>
    <main>
        <h1>Personalize seu sorvete!</h1>
        <div id="conteudo">
            <div id="left">
                <h2>Sabor 1 <span>(R$ 3,00)</span> </h2>
                <section id="primeiroSabor">
                    <!-- codigo js -->
                </section>
            
                <h2>Sabor 2 <span>(R$ 3,00)</span> </h2>
                <section id="segundoSabor">
                    <!-- codigo js -->
                </section>

                <h2>Cobertura <span>(R$ 2,00)</span> </h2>
                <section id="cobertura">
                    <!-- codigo js -->
                </section>
                    
                <h2>Casquinha <span>(R$ 1,00)</span> </h2>
                <section id="casquinha">
                    <!-- codigo js -->
                </section>
                
            </div>
            
            <div id="right">
                <div id="container"></div>
            </div>
    </main>
    <script src="../controller/personalizar.js"></script>
    <script src="../controller/mostrarSorvetes.js"></script>
    <script src="../../carrinho/controller/addCarrinho.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


</body> 
</html>