<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contet="width=device-width, initial-scale=1.0">
    <title>Personalizar Sorvete</title>
    <link rel="stylesheet" href="../../css/personalizar.css">
</head>
<body>
    <header></header>
    <main>
        <h1>Personalize seu sorvete!</h1>
        <div id="conteudo">
            <div id="left">
                <h2>Escolha o primeiro sabor do sorvete</h2>
                <section id="primeiroSabor">
                    <!-- codigo js -->
                </section>
            
                <h2>Escolha o segundo sabor do sorvete</h2>
                <section id="segundoSabor">
                    <!-- codigo js -->
                </section>

                <h2>Escolha a cobertura do sorvete</h2>
                <section id="cobertura">
                    <!-- codigo js -->
                </section>
                    
                <section id="casquinha">
                    <!-- codigo js -->
                </section>
            </div>
            
            <div id="right">
                <div id="sabor1">
                <!-- codigo js -->
                </div>

                <div id="sabor2">
                    <!-- codigo js -->
                </div>

                <div id="">
                <!-- codigo js -->
                </div>

                <div id="">
                <!-- codigo js -->
                </div>
    
            </div>
    </main>
    <script src="../controller/personalizar.js"></script>
    <script src="../controller/addSorveteP.js"></script>

</body> 
</html>