:root{
  --rosaEscuro: #ff0062;
  --rosa: #f3a8c2;
  --rosaClaro: #f6d1de;
  --verdeEscuro: #75f9f2;
  --verde : #b0f6f2;
  --verdeClaro: #e6faf9;
  --marrom: #411a0e;
  --amarelo: #fffbe0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 
}
body{
  color: var(--marrom);
  background-color: var(--verdeClaro);
  font-family: 'Montserrat', sans-serif;
}
#logo{
  width: 100px;
}
#logo img{
  width: 100%;
  margin-bottom: 16px;
  border-radius: 50%;
}
header a{
  color: var(--marrom);
}
h1{
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
  text-align: center;
}
div#container{
  overflow-x: auto;
}
table {
  background-color: white;
  margin: auto;
  width: 90%;
  max-width: 700px;
  width: 90%;
  max-width: 700px;
  border: 1px solid var(--marrom);
  border-collapse: collapse;
  text-align: center;
}
th{
  background-color: var(--rosaClaro);
  padding: 8px;
  border: 1px solid var(--marrom);
}
td{
  background-color: white;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--marrom);
}
small{
  color: #85645a;
  font-size: 0.7em;
}
tr.total{
  background-color: white;
}
button{
  color: var(--marrom);
  border: 0px;
}
button:hover{
  cursor: pointer;
}
.carrinhoVazio{
  color: var(--marrom);
  font-weight: bold;
  padding: 8px;
  text-align: center;
}
footer{
  font-size: 0.7em;
  font-weight: bold;
  padding: 16px;
  margin-top: 16px;
  text-align: center;
}
