:root{
    --rosaEscuro: #ff0062;
    --rosa: #f3a8c2;
    --rosaClaro: #f6d1de;
    --verdeEscuro: #75f9f2;
    --verde : #b0f6f2;
    --verdeClaro: #e6faf9;
    --marrom: #411a0e;
    --amarelo: #fffbe0;
}

body{
    background-color: var(--rosaClaro);
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

header {
    padding: 16px;
}

header img{
    width: 100px;
    margin-bottom: 16px;
    border-radius: 50%;
}
.material-symbols-outlined {
    padding: 16px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
span{
    color: var(--marrom);
}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    color: var(--marrom);
    margin: 0px;
    padding: 16px;
    text-align: center;
}
h2{
    color: var(--marrom);
    margin: 32px 16px 0px;
}
h2 span{
    color: #411a0ea9;
    font-size: 0.8em;
}
#conteudo{
    display: flex;
}

#left{
    width: 65%;
}

section#primeiroSabor, section#segundoSabor, section#cobertura, section#casquinha{
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.card{
    color: var(--marrom);
    background-color: var(--amarelo);
    font-weight: bold;
    margin-bottom: 16px;
    width: 150px;
    height: 150px;
    border-radius: 5%;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.014);
}

.card:hover {
    cursor: pointer;
}
.card .imagem{
    width: 100%;
    height: 50%;
    border-radius: 5% 5% 0% 0%;
    overflow: hidden;
}
.imagem img{
    width: 100%;
    height: auto;
}

.card .nome{
    color: var(--marrom);
    padding:8px;
    height: 50%;
    text-align: center;
}

/* right */
#right{
    width: 35%;
    padding: 40px;
}
#container{
    background-color:var(--verdeClaro);
    height: auto;
    border-radius: 8px;
    position: fixed;
    bottom: 80px;
    right: 32px;
}
#container h3{
    color: var(--rosaEscuro);
    padding: 8px 128px 0px 8px;

}
#container p{
    color: var(--marrom);
    padding: 0px 128px 0px 8px;

}
button[type="submit"]{
    color: white;
    background-color: var(--marrom);
    font-size: 1.2em;
    width: 100%;
    padding: 16px;
    margin:0px ;
    border: 0px;
    border-radius: 0px 0px 8px 8px;
}

button[type="submit"]:hover {
    cursor: pointer;
}

footer{
    color: var(--marrom);
    font-weight: bold;
    font-size: 0.7em;
    padding: 16px;
    margin-top: 16px;
    text-align: center;
}